#title {
	text-align: center;
	font-size: 48px;
}

#subtitle {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.needs-margin {
	margin-top: 120px
}

.panel-title {
	text-align: center;
	font-size: 24px;
}

.panel-body {
	text-align: center;
}

.role {

	font-weight: bold;

}

.row {
	background-position: center;
}

.location {

	font-style: italic;

}

.email {

}

.hours {

}