.cover-large {

	font-size: 72px;

}

.cover-caption {

	color : #df5858;

}

.school {
	font-weight: bold;
	font-size: 18px;
}

.person_detail {
	
}

.center {
	text-align: center;
	text-align: inline;
}

.fb {
	display: inline-block;
}
