.overlay{
    opacity:1;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-1;
}

body {
	background:hsl(0,100%,100%);
}

.img1 {
	background-image:url("images/abstract1.jpg");
	background-position: center;
}

.img2 {
	background-image:url("images/abstract2.jpg");
	background-position: center;
}

.carimg {
    background: url(images/cover3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}